<ion-header>
  <ion-toolbar>
    <ion-title>
      Meu Cartão de Apresentação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lorrayne Calazans Braga</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Código de Turma: 22200913</p>
      <!-- Usando o link direto da imagem -->
      <ion-img src="https://i.imgur.com/TjmcXcr.jpeg"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
